@charset "utf-8";


#mainTable{
	
	text-align:center;
	align:center;
	
}

#mainPage{
	
	align:center;
	display:inline-block;
	width:1300px;
		overflow:hidden;
	height:auto;
	
	min-height:600px;
	padding:50px;
	background-color:white;
}

#all{
	
	color:#295ea4;
	width:200px;
	height:50px;
	font-size:20pt;
	font-weight:bolder;
	vertical-align: middle;
	border-radius: 10px;
	border:3px solid #295ea4;
	background-color:white;
	margin:0px 5px;
	
	
}

#n1{
	
	color:#295ea4;
	width:200px;
	height:50px;
	font-size:20pt;
	font-weight:bolder;
	vertical-align: middle;
	border-radius: 10px;
	border:3px solid #295ea4;
	background-color:white;
	margin:0px 5px;
	
}
#n2{
	
	color:#295ea4;
	width:200px;
	height:50px;
	font-size:20pt;
	font-weight:bolder;
	vertical-align: middle;
	border-radius: 10px;
	border:3px solid #295ea4;
	background-color:white;
	margin:0px 5px;
	
}
#n3{
	
	color:#295ea4;
	width:200px;
	height:50px;
	font-size:20pt;
	font-weight:bolder;
	vertical-align: middle;
	border-radius: 10px;
	border:3px solid #295ea4;
	background-color:white;
	margin:0px 5px;
	
}
#n4{
	
	color:#295ea4;
	width:200px;
	height:50px;
	font-size:20pt;
	font-weight:bolder;
	vertical-align: middle;
	border-radius: 10px;
	border:3px solid #295ea4;
	background-color:white;
	margin:0px 5px;
	
}
#n5{
	
	color:#295ea4;
	width:200px;
	height:50px;
	font-size:20pt;
	font-weight:bolder;
	vertical-align: middle;
	border-radius: 10px;
	border:3px solid #295ea4;
	background-color:white;
	margin:0px 5px;
	
}


#n1:hover{
	color:white;
	border:3px solid white;
	background-color:#e71940;

	
}

#n2:hover{
	color:white;
	border:3px solid white;
	background-color:#0295db;
	
	
}

#n3:hover{
	color:white;
	border:3px solid white;
	background-color:#7ebf27;

}

#n4:hover{
	color:white;
	border:3px solid white;
	background-color:#f4980f;
	
	
}

#n5:hover{
	color:white;
	border:3px solid white;
	background-color:#b16baa;

	
}


#mainFrame{
	margin:auto;
	display:inline-block;
	font-size:20pt;
}

#item1{
	border:3px solid #e71940;
	text-align:center;
	display:inline-block;
	margin:5px;
	width:180px;
	font-size:50pt;
	
}
#item2{
	border:3px solid #0295db;
	text-align:center;
	display:inline-block;
	margin:5px;
	width:180px;
	font-size:50pt;
	
}
#item3{
	border:3px solid #7ebf27;
	text-align:center;
	display:inline-block;
	margin:5px;
	width:180px;
	font-size:50pt;
	
}
#item4{
	border:3px solid #f4980f;
	text-align:center;
	display:inline-block;
	margin:5px;
	width:180px;
	font-size:50pt;
	
}
#item5{
	border:3px solid #b16baa;
	text-align:center;
	display:inline-block;
	margin:5px;
	width:180px;
	font-size:50pt;
	
}
