@charset "UTF-8";


#remFrame{
	
	margin:auto;
	margin-top:50px;
	width:800px;
	height:500px;
	border:1px solid #888888;
	
}


#rememberFrame{
	
	
	align:center;
	display:inline-block;
	width:1300px;
	min-height:600px;
	padding:50px;
	background-color:white;
	
}

#kanjiTable{
	
	font-size:20pt;
	font-weight:bolder;
	
}