@charset "utf-8";

#Frame{
	
	
	align:center;
	display:inline-block;
	width:1300px;
	overflow:hidden;
	height:auto;
	min-height:600px;
	padding:50px;
	background-color:white;
	
}


.testForm{
	margin:10px;
	width:1200px;
	height: 200px;
	border:2px solid #dfdfdf;
	
}

.testForm h2{
	
	color : #555555;
	font-size:50pt;
	
}

.testForm input[type=text]{
	
	height: 50px;
	width:300px;
	font-size:20pt;
	
}


.hint{
	
	text-align:center;
	vertical-align:middle;
	width:100px;
	height:50px;
	border: 3px solid #ffcb4f;
	color:#ffcb4f;
	border-radius: 10px;
	font-size:30px;
	
	
}

.hint:hover{
	
	text-align:center;
	vertical-align:middle;
	width:100px;
	height:50px;
	border: 3px solid #ffcb4f;
	background-color:#ffcb4f;
	color:white;
	border-radius: 10px;
	font-size:30px;
	
	
}